[flake8]
# Ignorar errores y advertencias específicas
#ignore = E203, E266, E501, W503, E722

# Límite máximo de longitud de línea (por defecto es 79)
max-line-length = 192
                                                                                                                                                                                               
# Excluir archivos y directorios
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    reports,
    docs,
    migrations

# Incluir solo archivos Python
filename = *.py

# Mostrar estadísticas al final
statistics = True